@mixin button-style($bg-color, $font-color) {
    background-color: $bg-color;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: $font-color;
}

@mixin flex-justify($justify, $align: null) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-column($direction: null, $align: null, $justify: null) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}